<div class="outer">
<div class="container ">
  
  <app-leaveform></app-leaveform>
</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Employee Number</th>
      <th>Leave Reason</th>
      <th>Leave Type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let leave of leaveService.listleave">
    <td>{{leave.employeenumber}}</td>
    <td>{{leave.leaveReason}}</td>
    <td>{{leave.leaveType}}</td>
    <td>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="populateLeave(leave)" routerLink="leaveform" >Edit</a>
          <a class="dropdown-item" (click)="delete(leave.employeeId)" routerLink="leaveform" >Delete</a>
          
        </div>
      </div>
    </td>
  </tr>
  
</tbody>

</table>
</div>