<div class="outer">
        <div class="background color=success">
                '    <h3 class="display-5"><p class="text-info "><i class="fas fa-laptop-code background color-info"></i>&nbsp;&nbsp;&nbsp;What is Employee Management System?</p></h3>
                '        <div class="background color=info">
                        <div class="text-center">
                              </div>
                        <ul class="list-unstyled " >
                                <li><h5><i class="fa fa-square"></i>&nbsp;&nbsp;&nbsp;An employee management system is a software, 
                                        that helps your employees to give their best 
                                        efforts every day to &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;achieve the goals of your organization.</h5> </li>
                                <li><h5><i class="fa fa-square"></i>&nbsp;&nbsp;&nbsp;Employees are an important part of your organization it
                                        is their work that ultimately contributes to the bottom line of &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the company. </h5></li>
                                <li><h5><i class="fa fa-square"></i>&nbsp;&nbsp;&nbsp;It guides and manages employees efforts in the right direction.</h5></li>
                                <li><h5><i class="fa fa-square"></i>&nbsp;&nbsp;&nbsp;It also securely stores and manages personal and other work-related details
                                        for your employees. That makes it &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;easier to store and access the data when thereis a need.</h5></li> 
                                        
                                <li><h5><i class="fa fa-square"></i>&nbsp;&nbsp;&nbsp;In the employee management system, you can manage admin activities in an 
                                        easier and quicker way.</h5></li>
                                        <li><h5><i class="fa fa-square"></i>&nbsp;&nbsp;&nbsp;It is an important part of HR management. </h5></li>
                                        <li><h5><i class="fa fa-square"></i>&nbsp;&nbsp;&nbsp;It also helps to employee engagement 
                                                and performance management brings down costs and increases productivity.</h5></li>
                              </ul>
                              
                        
                </div>
                
</div>